<ion-grid class="btns-grid">
  <ion-row class="btns-row">
    <ion-col class="btn-col">
    <ion-button color="secondary">
      <ion-text>
        Sobre
      </ion-text>
    </ion-button>
    </ion-col>
    <ion-col class="btn-col">
      <ion-button color="secondary">
        <ion-text>
          Projetos
        </ion-text>
      </ion-button>
    </ion-col>
    <ion-col class="btn-col login-btn-col">
      <ion-buttons class="login-btn">
        <ion-button color="secondary" slot="icon-only" (click)="toLogin()">
          <ion-icon name="person-circle-outline" class="login-btn-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>
