<ion-grid>
  <ion-row>
    <ion-col size="8" class="nav-btns-col">
    <ion-button color="secondary">
      <ion-text>
        Sobre
      </ion-text>
    </ion-button>
    <ion-button color="secondary">
      <ion-text>
        Projetos
      </ion-text>
    </ion-button>
    </ion-col>
    <ion-col size="4" class="login-btn-col">
      <ion-buttons class="login-btn">
        <ion-button color="secondary" slot="icon-only">
          <ion-icon name="person-circle-outline" class="login-btn-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>
