.login-btn {
  margin-left: auto;
}

.login-btn-icon {
  font-size: 32px;
}

.btn-col {
  display: flex;
}


@media (max-width: 360px) {
  .btns-grid {
    min-height: 88px;
  }

  .btns-row {
    flex-direction: column;
    min-height: 88px;
  }

  .login-btn-col {
    position: absolute;
  }
}
